#sqlInputDiv{
    clear: both;
    margin-top: 30px;

}
#sqlInputDiv textarea[name='sql']{
    width: 400px;
    height: auto;
}
#SqlDataDiv{
    /*border: 1px solid blueviolet;*/
    width: 1024px;
    height: 700px;
    margin-top: 10px;
    overflow: auto;

}
#SqlDataDiv table  {
    border-collapse:collapse;


}
td{
    text-align: center;
    border: 1px solid #555555;
    width: auto;

}
